@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Apfel;
  src: url(../src/apfel/ApfelGrotezk-Regular.otf);
  font-weight: 500;
}
@font-face {
  font-family: Apfel;
  src: url(../src/apfel/ApfelGrotezk-Mittel.otf);
  font-weight: 600;
}
@layer base {
  html {
    font-family: "Apfel", system-ui, sans-serif;
  }
  h1,h2,h3,h4,h5 {
    font-weight: 600;
  }
}

section {
  @apply container mx-auto px-4 transition ease-in-out;
}


.button {
  @apply focus:ring-offset-2 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-opacity-90 ;
}
.button--default {
  @apply py-4 px-8 text-2xl rounded-3xl;
}
.button--small {
  @apply py-2 px-4 text-xl rounded-2xl;
}
.button--primary {
  @apply bg-neutral-950 text-white hover:bg-yellow-950 shadow-md transition ease-in-out;
}
.button--secondary {
  @apply border border-neutral-300 bg-neutral-100  text-neutral-700  hover:border-neutral-950 hover:text-neutral-800 hover:bg-neutral-100 transition ease-in-out;
}

.card {
  @apply md:p-10 sm:p-6 p-6 flex md:gap-4 sm:gap-2 gap-2 items-start rounded-3xl bg-gradient-to-b from-white to-neutral-100;
}
.card--highlight {
  @apply bg-gradient-to-b from-yellow-50 to-neutral-100;
}
.card--row {
  @apply lg:flex-row sm:flex-col flex-col lg:items-start lg:flex-wrap lg:gap-8 sm:gap-2 gap-2;
}
.card--col {
  @apply md:flex-col sm:flex-col flex-col;
}

.badge {
  @apply flex gap-2 py-2 px-4 rounded-2xl text-2xl;
}
.badge--success {
  @apply bg-emerald-50 text-emerald-950;
}
.badge--neutral {
  @apply bg-neutral-100 text-neutral-950;
}



h1 {
  @apply lg:text-7xl md:text-5xl text-5xl;
}

h2 {
  @apply lg:text-5xl md:text-4xl text-4xl;
}

h3 {
  @apply lg:text-4xl md:text-3xl text-3xl;
}

h4 {
  @apply lg:text-2xl md:text-xl text-xl;
}

h5 {
  @apply lg:text-xl md:text-lg text-lg;
}

p, a {
  @apply lg:text-2xl md:text-xl text-xl;
}

a {
  @apply hover:text-neutral-500 focus:ring-offset-2 focus:ring-offset-neutral-50 focus:outline-none focus:ring-2 focus:ring-emerald-500 focus:ring-opacity-90 focus:rounded-lg transition ease-in-out;
  font-weight: 600;

}